<!DOCTYPE html>

<head>

<!-- Basic Page Needs
================================================== -->
<title>Listing Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style1.css">

<link rel="stylesheet" href="css/color.css">
<link rel="stylesheet" href="css/reality-icon.css">
<!-- <link rel="stylesheet" href="css/cubeportfolio.min.css"> -->
<style>
	 .mt-30{
		 margin-top: 10px;
	 }
</style>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container">

	<!-- Topbar -->
	<div id="top-bar">
		<div class="container">

			<!-- Left Side Content -->
			<div class="left-side">

				<!-- Top bar -->
				<ul class="top-bar-menu">
					<li><i class="fa fa-phone"></i> 1234567890 </li>
					<li><i class="fa fa-envelope"></i> <a href="#">office@example.com</a></li>
				
				</ul>

			</div>
			<!-- Left Side Content / End -->


			<!-- Left Side Content -->
			<div class="right-side">

				<!-- Social Icons -->
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
				</ul>

			</div>
			<!-- Left Side Content / End -->

		</div>
	</div>
	<div class="clearfix"></div>
	<!-- Topbar / End -->


	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="index.html"><img src="images/Holding-bricks.png" alt=""></a>
				</div>


				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>


			
				
			</div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			<div class="right-side">
			
				<div class="header-widget">
					<nav id="navigation" class="style-1">
						<ul id="responsive">
	
							<li><a href="homepage.html">Home</a>
								
							</li>
	
							<li><a class="" href="about-us.html">About Us</a>
								
							</li>

							<li><a class="current" href="listing.html">Listing</a></li>

							<li><a href="blog.html">Blogs</a></li>

							<li><a href="#">Location</a>
								<ul>
									<li><a href="index.html">Bangalore</a></li>
									<li><a href="index.html">Pune</a></li>
							
								</ul>
							</li>

						
	
						
							<li><a  class="" href="contact.html">Contact Us</a>
								
							</li>
	
						</ul>
					</nav>
				</div>
				
			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>


<!-- Titlebar
================================================== -->
<div class="parallax titlebar"
data-background="images/listings-parallax.jpg"
data-color="#333333"
data-color-opacity="0.7"
data-img-width="800"
data-img-height="505">

<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Listings</h2>
				<span></span>
				
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Listings</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
</div>



<div class="container property-details" id="wrapper1">
	<div class="row">
		<div class="col-lg-8 mt-10">
			<!-- <div class="div-shadow">
				<div class="col-pad">
					<div class="property-banner">
						<img src="images/popular-location-04.jpg" class="img-responsive">
						<div class="prop-status">
							Under Construction
						</div>
					</div>
				</div>

				<div class="property-title1 mt-10">
					<p>Project Title</p>
					<h6>Project Name</h6>
					<span>Project Location</span>
					<p class="font9">RERA : <br> 1234556788999</p>
				</div>
				<hr>
				<div class="mt-10">
					<div class="project_price_details_info">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<p>Starting Price</p><h6><span class="rupee_font">`</span> 74 Lakhs*</h6>
							</div>
								
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<p>Configurations</p><h6>2 &amp; 3 BHK</h6>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<p>Sq Ft</p><h6>1165 -1590</h6>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<p>Price per Sq Ft</p><h6><span class="rupee_font">`</span> 5649*</h6>
							</div>
						</div>
					</div>
				
				</div>

			</div>

	
			<div class="div-shadow mt-30">
				<div class="col-pad">
					<div class="property-banner">
						<img src="images/popular-location-04.jpg" class="img-responsive">
						<div class="prop-status">
							Under Construction
						</div>
					</div>
				</div>

				<div class="property-title1 mt-10">
					<p>Project Title</p>
					<h6>Project Cyberscape</h6>
					<span>Project Location</span>
					<p class="font9">RERA : <br> 1234556788999</p>
				</div>
				<hr>
				<div class=" mt-10">
					<div class="project_price_details_info">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<p>Starting Price</p><h6><span class="rupee_font">`</span> 74 Lakhs*</h6>
							</div>
								
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<p>Configurations</p><h6>2 &amp; 3 BHK</h6>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<p>Sq Ft</p><h6>1165 -1590</h6>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<p>Price per Sq Ft</p><h6><span class="rupee_font">`</span> 5649*</h6>
							</div>
						</div>
					</div>
				
				</div>

				</div> -->
	
					<!-- Sorting / Layout Switcher -->
		<div class="row margin-bottom-15">

			<div class="col-md-6">
				<!-- Sort by -->
				<div class="sort-by">
					<label>Sort by:</label>

					<div class="sort-by-select">
						<select data-placeholder="Default order" class="chosen-select-no-single" >
							<option>Default Order</option>	
							<option>Price Low to High</option>
							<option>Price High to Low</option>
							<option>Newest Properties</option>
							<option>Oldest Properties</option>
						</select>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<!-- Layout Switcher -->
				<div class="layout-switcher">
					<a href="#" class="list"><i class="fa fa-th-list"></i></a>
					<a href="#" class="grid"><i class="fa fa-th-large"></i></a>
				</div>
			</div>
		</div>

		
		<!-- Listings -->
		<div class="listings-container list-layout">


			<!-- Listing Item -->
			<div class="listing-item">

				<div class="listing-img-container">

					<div class="listing-badges badges-page">
						<span class="featured">Featured</span>
						<span class="rera">Rera</span>
						<span>For Sale</span>
					</div>

					

					<div class="listing-img-content">
						<span class="listing-price">35 Lakhs <i>Onwards</i></span>
						
						<div  data-tip-content="Rating"><fieldset class="rating">
							<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
							<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
							<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
							<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
							<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
							<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
							<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
							<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
							<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
							<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
						</fieldset></div>
						
					</div>

					

					<img src="images/listing-03.jpg" alt="">

				</div>

				
				
				<div class="listing-content">

					<div class="listing-title">
						<h4><a href="">Meridian Villas Shapoorji Paloonji</a></h4>
						<a href="">
							<i class="fa fa-map-marker"></i>
							Marathalli, Bangalore
						</a>

						<a href="" class="details button border">View Details</a>
					</div>

					<ul class="listing-details">
						<li>2,3 & 4 BHK</li>
						<li></li>
						
						
					</ul>

					<div class="listing-footer">
						<a href="#"><i class="fa fa-building"></i> Type Apartments</a>
						<span><i class="fa fa-calendar-o"></i> Possession Ready</span>
					</div>

				</div>
				<!-- Listing Item / End -->

			</div>
			<!-- Listing Item / End -->

				<!-- Listing Item -->
				<div class="listing-item">

					<div class="listing-img-container">
	
						<div class="listing-badges badges-page">
							<span class="featured">Featured</span>
							<span class="rera">Rera</span>
							<span>For Sale</span>
						</div>
	
						
	
						<div class="listing-img-content">
							<span class="listing-price">35 Lakhs <i>Onwards</i></span>
							
							<div  data-tip-content="Rating"><fieldset class="rating">
								<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
								<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
								<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
								<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
								<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
								<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
								<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
								<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
								<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
								<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
							</fieldset></div>
							
						</div>
	
						
	
						<img src="images/listing-03.jpg" alt="">
	
					</div>
	
					
					
					<div class="listing-content">
	
						<div class="listing-title">
							<h4><a href="">Meridian Villas</a></h4>
							<a href="">
								<i class="fa fa-map-marker"></i>
								Marathalli, Bangalore
							</a>
	
							<a href="" class="details button border">View Details</a>
						</div>
	
						<ul class="listing-details">
							<li>2,3 & 4 BHK</li>
							<li></li>
							
							
						</ul>
	
						<div class="listing-footer">
							<a href="#"><i class="fa fa-building"></i> Type Apartments</a>
							<span><i class="fa fa-calendar-o"></i> Possession Ready</span>
						</div>
	
					</div>
					<!-- Listing Item / End -->
	
				</div>
				<!-- Listing Item / End -->

					<!-- Listing Item -->
					<div class="listing-item">

						<div class="listing-img-container">
		
							<div class="listing-badges badges-page">
								<span class="featured">Featured</span>
								<span class="rera">Rera</span>
								<span>For Sale</span>
							</div>
		
							
		
							<div class="listing-img-content">
								<span class="listing-price">35 Lakhs <i>Onwards</i></span>
								
								<div  data-tip-content="Rating"><fieldset class="rating">
									<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
									<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
									<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
									<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
									<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
									<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
									<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
									<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
									<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
									<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
								</fieldset></div>
								
							</div>
		
							
		
							<img src="images/listing-03.jpg" alt="">
		
						</div>
		
						
						
						<div class="listing-content">
		
							<div class="listing-title">
								<h4><a href="">Meridian Villas</a></h4>
								<a href="">
									<i class="fa fa-map-marker"></i>
									Marathalli, Bangalore
								</a>
		
								<a href="" class="details button border">View Details</a>
							</div>
		
							<ul class="listing-details">
								<li>2,3 & 4 BHK</li>
								<li></li>
								
								
							</ul>
		
							<div class="listing-footer">
								<a href="#"><i class="fa fa-building"></i> Type Apartments</a>
								<span><i class="fa fa-calendar-o"></i> Possession Ready</span>
							</div>
		
						</div>
						<!-- Listing Item / End -->
		
					</div>
			<!-- Listing Item / End -->
		

		</div>
		<!-- Listings Container / End -->

		
		<!-- Pagination -->
		<div class="pagination-container margin-top-20">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="blank">...</li>
					<li><a href="#">22</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev">Previous</a></li>
					<li><a href="#" class="next">Next</a></li>
				</ul>
			</nav>
		</div>
		<!-- Pagination / End -->

		</div>

		

		<div class="col-lg-4 mt-10" >
			<div id="sideform" class="needhelp_form sideform my-sticky-form  ">
				<div class="needhelp_form_close  mt-10">
	
				</div>
				<h5>Need help in your house search?</h5>
					
					<style type="text/css">.g-recaptcha{transform:scale(.77);-webkit-transform:scale(.77);transform-origin:0 0;-webkit-transform-origin:0 0}.needhelp_form h5{margin:0}.needhelp_form .needhelp_form_list .submit_btn{margin-top:0}.needhelp_form .needhelp_form_list ul li input{height:28px}.needhelp_form .needhelp_form_list ul li input[type=checkbox]{height:12px}.needhelp_form .needhelp_form_list ul li{margin:0 0 5px}</style>
					
					<div class="needhelp_form_list">
						
						<form action="" name="WebForm-1498709213622" method="POST" id="elqform2">
								<div class="throwerror" style="color:red;font-size:15px;padding-bottom:18px;"></div>
								<ul>
									<li class="form-sec">	
										<input type="text" placeholder="Name*" id="" required="" name="Name*"></li>
									<li class="form-sec">
								
								<input type="tel" placeholder="Phone Number*" id="" required="" name="phone*">
							</li>
								<li class="form-sec">
									<input type="email" placeholder="Email ID*" required="" name="emailAddress" id="fcemail" autocomplete="off" class="emailcheck">
								</li>
								<li style="margin-top:20px !Important;">
									<center><div class="btn btn-submit" data-toggle="modal" data-target="#main-pop">Enquire Now</div></center>
								</li>
							</ul>
						</form>
						<div class="mb-40">
							<div class="offers-wrap lead-offer no-bg-style"> 
								<div class="spl-img va-top bg-img-default bg-img-contain"  style=" background-image:url('images/cashback.png')">
								</div>  
								<div class="spl-txt-wrap va-middle"> 
									<div class="spl-title va-top">Assured Callback in 5 mins</div> 
									<ul class="va-top reset-ul offer-ul"> 
										<li class="offer">Get an assured callback in 5 mins from sales expert (9 AM - 6 PM IST)</li> 
									</ul> 
									</div>      
							</div>
							<div class="offers-wrap lead-offer no-bg-style">
								<div class="spl-img va-top bg-img-default bg-img-contain"  style=" background-image:url('images/offer.png')"> 
								</div>                 
								<div class="spl-txt-wrap va-middle"> 
									<div class="spl-title va-top">Authorised Channel Partner</div>
									<ul class="va-top reset-ul offer-ul"> 
										<li class="offer">Holding Bricks is an authorised channel partner for this project</li>
									</ul> 
									</div>            
							</div>
						</div>	
					</div>
			</div>

			

		</div>

		</div>
	</div>
</div>


<div class="margin-top-50"></div>
<!-- Flip banner -->
<a href="" class="flip-banner parallax-home" data-background="images/single-property-03.jpg"  data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
	<div class="flip-banner-content" style="color:rgb(219 18 57)">
		<h2 class="flip-visible">We help people and homes find each other</h2>
		<h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->


<div class="modal Home-pupup fade in" tabindex="-1" role="dialog" id="main-pop" style="opacity: 1;">
	<!-- data-backdrop="static" data-keyboard="false" -->
<div class="modal-dialog" role="document">
    <div class="modal-content">
      
		<div class="modal-body text-center needhelp_form-modal" style="margin: auto;">
		<li class="left_col"><img class="text-center modal-logo" src="images/Holding-bricks.png"></li>	
		<li class="right_col"><h5>Project Name Brochure</h5></li>
		
			<div class="needhelp_form_list">
					
				<form action="" name="WebForm-1498709213622" method="POST" id="elqform2">
						<div class="throwerror" style="color:red;font-size:15px;padding-bottom:18px;"></div>
						<ul>
							<li class="form-sec">	
								<input type="text" placeholder="Name*" id="" required="" name="Name*"></li>
							
					
							<li class="form-sec">
						
						<input type="tel" placeholder="Phone Number*" id="" required="" name="phone*">
					</li>
						<li class="form-sec">
							<input type="email" placeholder="Email ID*" required="" name="emailAddress" id="fcemail" autocomplete="off" class="emailcheck">
						</li>

						<li style="margin-top:20px!important">
						<center><div class="btn btn-submit" data-toggle="modal" data-target="#main-pop">Download</div></center>
					</li>
					</ul>
				</form>
			</div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>


<!-- Footer
	sticky-footer
================================================== -->
<div id="footer" class=" footer-form">
	<div class="bg-overlay">
	<!-- Main -->
	<div class="container">
		<div class="row mb-40">
			
					<div class="col-md-6 col-xs-12 ">
						<div class="row">
							<div class="col-md-6 col-xs-6 ">
								<h4>Quick Links</h4>
								<ul class="footer-links">
									<li><a href="homepage.html">Home</a></li>
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="careers.html">Careers</a></li>
									<li><a href="blog.html">Blogs</a></li>
									<li><a href="contact.html">Contact</a></li>
								
								</ul>
							</div>
							<div class="col-md-6 col-xs-6 ">
								<h4>Popular</h4>
								<ul class="footer-links">
									<li><a href="#">New Launches</a></li>
									<li><a href="#">Affordable </a></li>
									<li><a href="#">Ready To Move In</a></li>
									<li><a href="#">Luxury</a></li>
									<li><a href="#">Commercial </a></li>
									
								</ul>
							</div>
						</div>
						
						<div class="clearfix"></div>
					</div>		
		
		
					<div class="col-md-3 col-sm-12 col-xs-12">
						<h4>Address</h4>
						<div class="text-widget">
							<i class="fa fa-map-marker" aria-hidden="true"></i>: <span>Lorem Ipsum Lorem Ipsum</span> <br>
							<i class="fa fa-phone" aria-hidden="true"></i>: <span>(+91) 123-4576-789 </span><br>
							<i class="fa fa-mail-reply-all" aria-hidden="true"></i>: <span> <a href="#">office@example.com</a> </span><br>
						</div>
		
						
		
					</div>

						<div class="col-md-3  col-sm-12 col-xs-12 ">
							<h4>Connect With Us</h4>
							<div class="text-widget">
								<form action="" name="" method="POST" id="elqform2">
									
									<ul>
										<li class="form-control">	
											<input type="text" placeholder="Name*" id="" required="" name="Name*"></li>

										<li class="form-control">
									
									<input type="tel" placeholder="Phone Number*" id="" required="" name="phone*">
								</li>

									<li class="form-control">
										<input type="email" placeholder="Email ID*" required="" name="emailAddress" id="fcemail" autocomplete="off" class="emailcheck">
									</li>

									<li style="margin-top:13px !Important;">
										<center><div class="btn btn-submit" data-toggle="modal" data-target="#main-pop">Request Callback</div></center>
									</li>
								</ul>
							</form>

							</div>

							

						</div>

					 <div class="clearflix"></div>
	

		</div>

		<div class="row mb-40">
			<div class="col-md-3 col-xs-12 ">
				<h5>Top Builders In Bangalore</h5>
				<ul class="footer-links">
					<li><a href="#">Prestige Group</a></li>
					<li><a href="#">Brigade Group</a></li>
					<li><a href="#">Godrej Properties</a></li>
					<li><a href="#">Sobha Limited</a></li>
					<li><a href="#">Purvankara</a></li>
					<li><a href="#">Mahindra Life Spaces</a></li>
				
				</ul>
			</div>

			<div class="col-md-3 col-xs-12 ">
				<h5>Top Builders In Pune</h5>
				<ul class="footer-links">
					<li><a href="#">Kolte Patil Developers</a></li>
					<li><a href="#">Vilas Javdekar</a></li>
					<li><a href="#">Kohinoor Group Construction</a></li>
					<li><a href="#">Shapoorji Pallonji</a></li>
					<li><a href="#">Kalpataru Group</a></li>
					<li><a href="#">Lodha Group</a></li>
				
				</ul>
			</div>

			<div class="col-md-3 col-xs-12 ">
				<h5>Featured Properties (Bangalore)</h5>
				<ul class="footer-links">
					<li><a href="#">2 BHK Apartments </a></li>
					<li><a href="#">3 BHK Apartments </a></li>
					<li><a href="#">4 BHK Apartments </a></li>
					<li><a href="#"> Villas Properties </a></li>
					<li><a href="#">Commercial & Office Spaces </a></li>
					<li><a href="#">Plotted Development</a></li>
				
				</ul>
			</div>

			<div class="col-md-3 col-xs-12">
				<h5>Featured Properties (Pune)</h5>
				<ul class="footer-links">
					<li><a href="#">2 BHK Apartments </a></li>
					<li><a href="#">3 BHK Apartments </a></li>
					<li><a href="#">4 BHK Apartments </a></li>
					<li><a href="#"> Villas Properties </a></li>
					<li><a href="#">Commercial & Office Spaces </a></li>
					<li><a href="#">Plotted Development</a></li>
				
				</ul>
			</div>
		</div>
		
		<div class="row mb-40">
			<div class="col-md-3 col-xs-12 ">
				<h5>Locality ( Bangalore )</h5>
				<ul class="footer-links">
					<li><a href="#">Properties in Whitefield</a></li>
					<li><a href="#">Properties in Kanakapura Road</a></li>
					<li><a href="#">Properties in Sarjapura Road</a></li>
					<li><a href="#">Properties in Hennur Road</a></li>
					<li><a href="#">Properties in K.R Puram</a></li>
					<li><a href="#">Properties in Yashwantpur</a></li>
					<li><a href="#">Properties in Yelahanka</a></li>
				
				</ul>
			</div>

			<div class="col-md-3 col-xs-12 ">
				<h5>Locality ( Pune )</h5>
				<ul class="footer-links">
					<li><a href="#">Properties in Hinjewadi </a></li>
					<li><a href="#">Properties in Wakad</a></li>
					<li><a href="#">Properties in Baner</a></li>
					<li><a href="#">Properties in Kharadi</a></li>
					<li><a href="#">Properties in Wagholi</a></li>
					<li><a href="#">Properties in Balewadi</a></li>
					<li><a href="#">Properties in Pimpri-Chinchwad</a></li>
				
				</ul>
			</div>

			
			<div class="col-md-6 col-xs-12">
				<center>
					<img class="footer-logo" src="images/Holding-bricks.png" alt="">
				
				<p><ul class="social-icons rounded margin-top-20 text-center">
					
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
					
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				
					<li><a class="whatsapp" href="#"><i class="icon-whatsapp"></i></a></li>
					<li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
				
				</ul></p>
			</center>
			</div>
		</div>
	

	</div>

</div>
	<div class="cntainer-fluid">
		<div class="row " style="position: relative;" >
			<div class="copyrights" style="position: absolute;"><center>© 2020. All Rights Reserved.</center></div>
			<div class="col-md-8 col-xs-6 copyrightstext" >
				<div class="upcoming-msg" style="">
					
				</div>
			</div>
			<div class="col-md-4 col-xs-6 copyrightstext1" >
				<div class="check-out" style="">
				
				</div>
			</div>
		</div>
	</div>

</div>
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>

<!-- Scripts
================================================== -->
<script type="text/javascript" src="js/jquery-2.1.4.js"></script>

<script type="text/javascript" src="js/magnific-popup.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<!-- <script type="text/javascript" src="js/rangeSlider.js"></script> -->
<script type="text/javascript" src="js/sticky-kit.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/masonry.min.js"></script>
<script type="text/javascript" src="js/mmenu.min.js"></script>
<script type="text/javascript" src="js/tooltips.min.js"></script>
<!-- <script src="js/jquery.cubeportfolio.min.js"></script> -->
<script src="js/jquery.fancybox.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>


</body>
</html>