<!DOCTYPE html>

<head>

<!-- Basic Page Needs
================================================== -->
<title>Blog Details Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style1.css">
<link href="https://cdn.jsdelivr.net/lightgallery/1.3.9/css/lightgallery.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/color.css">

<style>
	 .mt-30{
		 margin-top: 10px;
	 }
	 .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/popular-location-02.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
</style>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header Container
	================================================== -->
	<header id="header-container">

		<!-- Topbar -->
		<div id="top-bar">
			<div class="container">

				<!-- Left Side Content -->
				<div class="left-side">

					<!-- Top bar -->
					<ul class="top-bar-menu">
						<li><i class="fa fa-phone"></i> 1234567890 </li>
						<li><i class="fa fa-envelope"></i> <a href="#">office@example.com</a></li>
					
					</ul>

				</div>
				<!-- Left Side Content / End -->


				<!-- Left Side Content -->
				<div class="right-side">

					<!-- Social Icons -->
					<ul class="social-icons">
						<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
						<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
						<li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
					</ul>

				</div>
				<!-- Left Side Content / End -->

			</div>
		</div>
		<div class="clearfix"></div>
		<!-- Topbar / End -->


		<!-- Header -->
		<div id="header">
			<div class="container">
				
				<!-- Left Side Content -->
				<div class="left-side">
					
					<!-- Logo -->
					<div id="logo">
						<a href="index.html"><img src="images/Holding-bricks.png" alt=""></a>
					</div>


					<!-- Mobile Navigation -->
					<div class="mmenu-trigger">
						<button class="hamburger hamburger--collapse" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>


				
					
				</div>
				<!-- Left Side Content / End -->

				<!-- Right Side Content / End -->
				<div class="right-side">
				
					<div class="header-widget">
						<nav id="navigation" class="style-1">
							<ul id="responsive">
		
								<li><a href="homepage.html">Home</a>
									
								</li>
		
								<li><a class="" href="about-us.html">About Us</a>
									
								</li>

								<li><a href="listing.html">Listing</a></li>
								<li><a href="#">Location</a>
									<ul>
										<li><a href="">Bangalore</a></li>
										<li><a href="">Pune</a></li>
										
									</ul>
								</li>
		
							
								<li><a  class="" href="contact.html">Contact Us</a>
									
								</li>
		
							</ul>
						</nav>
					</div>
					
				</div>
				<!-- Right Side Content / End -->

			</div>
		</div>
		<!-- Header / End -->

	</header>
<!-- Banner Img -->
<img class="post-img" src="images/popular-location-01.jpg" alt="">

	<div class="clearfix"></div>
	<!-- Header Container / End -->

	
	<div class="container">
		<!-- Blog Post -->
		<div class=" single-post ">

			<div class="blog-post">


			<!-- Content -->
			<div class="post-content">
				<h3>Blog Title</h3>

				<ul class="post-meta">
					<li>Novemer 9, 2016</li>
					
				</ul>

				<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis. Vivamus tincidunt orci est, in vehicula nisi eleifend ut. Vestibulum sagittis varius orci vitae.</p>

				<div class="post-quote">
					<span class="icon"></span>
					<blockquote>
						Mauris aliquet ultricies ante, non faucibus ante gravida sed. Sed ultrices pellentesque purus, vulputate volutpat ipsum hendrerit sed neque sed sapien rutrum.
					</blockquote>
				</div>

				<p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Cras suscipit, quam vitae adipiscing faucibus, risus nibh laoreet odio, a porttitor metus eros ut enim. Morbi augue velit, tempus mattis dignissim nec, porta sed risus. Donec eget magna eu lorem tristique pellentesque eget eu dui. Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum.</p>
				<p>Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus. Sed consequat justo non mauris pretium at tempor justo sodales. Quisque tincidunt laoreet malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer vitae ante enim. Fusce sed elit est. Suspendisse sit amet mauris in quam pretium faucibus et aliquam odio. </p>


				<!-- Share Buttons -->
				<!-- <ul class="share-buttons margin-top-40 margin-bottom-0">
					<li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a></li>
					<li><a class="twitter-share" href="#"><i class="fa fa-twitter"></i> Tweet</a></li>
					<li><a class="gplus-share" href="#"><i class="fa fa-google-plus"></i> Share</a></li>
					<li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li>
				</ul> -->
				<div class="clearfix"></div>

			</div>
		</div>
		</div>
		<!-- Blog Post / End -->

		<!-- Related Posts -->
		<div class="clearfix"></div>
		<h4 class="headline margin-top-25">Related Posts</h4>
		<div class="row">
			<div class="col-md-6">

				<!-- Blog Post -->
				<div class="blog-post">

					<!-- Img -->
					<a href="#" class="post-img">
						<img src="images/popular-location-02.jpg" alt="">
					</a>

					<!-- Content -->
					<div class="post-content">
						<h3><a href="#">Bedroom Colors You'll Never Regret</a></h3>
						<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae. </p>

						<a href="#" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
				<!-- Blog Post / End -->

			</div>

			<div class="col-md-6">

				<!-- Blog Post -->
				<div class="blog-post">

					<!-- Img -->
					<a href="#" class="post-img">
						<img src="images/popular-location-01.jpg" alt="">
					</a>

					<!-- Content -->
					<div class="post-content">
						<h3><a href="#">What to Do a Year Before Buying Apartment</a></h3>
						<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae. </p>

						<a href="#" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
				<!-- Blog Post / End -->

			</div>
		</div>
		<!-- Related Posts / End -->
	</div>

	<div class="margin-top-50"></div>


	<a href="" class="flip-banner parallax-home" data-background="images/single-property-03.jpg"  data-img-width="2500" data-img-height="1600">
		<div class="flip-banner-content" style="color:rgb(219 18 57)">
			<h2 class="flip-visible">We help people and homes find each other</h2>
			<h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
		</div>
	</a>
	

	<div class="modal Home-pupup fade in" tabindex="-1" role="dialog" id="main-pop" style="opacity: 1;">
		<!-- data-backdrop="static" data-keyboard="false" -->
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		
			<div class="modal-body text-center needhelp_form-modal" style="margin: auto;">
			<li class="left_col"><img class="text-center modal-logo" src="images/Holding-bricks.png"></li>	
			<li class="right_col"><h5>Project Name Brochure</h5></li>
			
				<div class="needhelp_form_list">
						
					<form action="" name="WebForm-1498709213622" method="POST" id="elqform2">
							<div class="throwerror" style="color:red;font-size:15px;padding-bottom:18px;"></div>
							<ul>
								<li class="form-sec">	
									<input type="text" placeholder="Name*" id="" required="" name="Name*"></li>
								
						
								<li class="form-sec">
							
							<input type="tel" placeholder="Phone Number*" id="" required="" name="phone*">
						</li>
							<li class="form-sec">
								<input type="email" placeholder="Email ID*" required="" name="emailAddress" id="fcemail" autocomplete="off" class="emailcheck">
							</li>

							<li style="margin-top:20px!important">
							<center><div class="btn btn-submit" data-toggle="modal" data-target="#main-pop">Download</div></center>
						</li>
						</ul>
					</form>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	</div>

	<!-- Footer sticky-footer
	================================================== -->
	<div id="footer" class=" footer-form">
		<!-- Main -->
		<div class="container">
			<div class="row mb-40">
				
						<div class="col-md-5 col-xs-12 ">
							<div class="row">
								<div class="col-md-6 col-xs-6 ">
									<h4>Quick Links</h4>
									<ul class="footer-links">
										<li><a href="#">Home</a></li>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Careers</a></li>
										<li><a href="#">Blogs</a></li>
										<li><a href="#">Contact</a></li>
									
									</ul>
								</div>
								<div class="col-md-6 col-xs-6 ">
									<h4>Popular</h4>
									<ul class="footer-links">
										<li><a href="#">New Launches</a></li>
										<li><a href="#">Affordable </a></li>
										<li><a href="#">Ready To Move In</a></li>
										<li><a href="#">Luxury</a></li>
										<li><a href="#">Commercial </a></li>
										
									</ul>
								</div>
							</div>
							
							<div class="clearfix"></div>
						</div>		
			
			
						<div class="col-md-4 col-sm-12 col-xs-12">
							<h4>Address</h4>
							<div class="text-widget">
								<i class="fa fa-map-marker" aria-hidden="true"></i>: <span>Lorem Ipsum Lorem Ipsum</span> <br>
								<i class="fa fa-phone" aria-hidden="true"></i>: <span>(+91) 123-4576-789 </span><br>
								<i class="fa fa-mail-reply-all" aria-hidden="true"></i>: <span> <a href="#">office@example.com</a> </span><br>
							</div>
			
							
			
						</div>

							<div class="col-md-3  col-sm-12 col-xs-12 ">
								<h4>Connect With Us</h4>
								<div class="text-widget">
									<form action="" name="" method="POST" id="elqform2">
										
										<ul>
											<li class="form-control">	
												<input type="text" placeholder="Name*" id="" required="" name="Name*"></li>

											<li class="form-control">
										
										<input type="tel" placeholder="Phone Number*" id="" required="" name="phone*">
									</li>

										<li class="form-control">
											<input type="email" placeholder="Email ID*" required="" name="emailAddress" id="fcemail" autocomplete="off" class="emailcheck">
										</li>

										<li style="margin-top:13px !Important;">
											<center><div class="btn btn-submit" data-toggle="modal" data-target="#main-pop">Request Callback</div></center>
										</li>
									</ul>
								</form>

								</div>

								

							</div>

						<div class="clearflix"></div>
		

			</div>

			<div class="row mb-40">
				<div class="col-md-3 col-xs-12 ">
					<h5>Top Builders In Bangalore</h5>
					<ul class="footer-links">
						<li><a href="#">Prestige Group</a></li>
						<li><a href="#">Brigade Group</a></li>
						<li><a href="#">Godrej Properties</a></li>
						<li><a href="#">Sobha Limited</a></li>
						<li><a href="#">Purvankara</a></li>
						<li><a href="#">Mahindra Life Spaces</a></li>
					
					</ul>
				</div>

				<div class="col-md-3 col-xs-12 ">
					<h5>Top Builders In Pune</h5>
					<ul class="footer-links">
						<li><a href="#">Kolte Patil Developers</a></li>
						<li><a href="#">Vilas Javdekar</a></li>
						<li><a href="#">Kohinoor Group Construction</a></li>
						<li><a href="#">Shapoorji Pallonji</a></li>
						<li><a href="#">Kalpataru Group</a></li>
						<li><a href="#">Lodha Group</a></li>
					
					</ul>
				</div>

				<div class="col-md-3 col-xs-12 ">
					<h5>Featured Properties (Bangalore)</h5>
					<ul class="footer-links">
						<li><a href="#">2 BHK Apartments </a></li>
						<li><a href="#">3 BHK Apartments </a></li>
						<li><a href="#">4 BHK Apartments </a></li>
						<li><a href="#"> Villas Properties </a></li>
						<li><a href="#">Commercial & Office Spaces </a></li>
						<li><a href="#">Plotted Development</a></li>
					
					</ul>
				</div>

				<div class="col-md-3 col-xs-12">
					<h5>Featured Properties (Pune)</h5>
					<ul class="footer-links">
						<li><a href="#">2 BHK Apartments </a></li>
						<li><a href="#">3 BHK Apartments </a></li>
						<li><a href="#">4 BHK Apartments </a></li>
						<li><a href="#"> Villas Properties </a></li>
						<li><a href="#">Commercial & Office Spaces </a></li>
						<li><a href="#">Plotted Development</a></li>
					
					</ul>
				</div>
			</div>
			
			<div class="row mb-40">
				<div class="col-md-3 col-xs-12 ">
					<h5>Locality ( Bangalore )</h5>
					<ul class="footer-links">
						<li><a href="#">Properties in Whitefield</a></li>
						<li><a href="#">Properties in Kanakapura Road</a></li>
						<li><a href="#">Properties in Sarjapura Road</a></li>
						<li><a href="#">Properties in Hennur Road</a></li>
						<li><a href="#">Properties in K.R Puram</a></li>
						<li><a href="#">Properties in Yashwantpur</a></li>
						<li><a href="#">Properties in Yelahanka</a></li>
					
					</ul>
				</div>

				<div class="col-md-3 col-xs-12 ">
					<h5>Locality ( Pune )</h5>
					<ul class="footer-links">
						<li><a href="#">Properties in Hinjewadi </a></li>
						<li><a href="#">Properties in Wakad</a></li>
						<li><a href="#">Properties in Baner</a></li>
						<li><a href="#">Properties in Kharadi</a></li>
						<li><a href="#">Properties in Wagholi</a></li>
						<li><a href="#">Properties in Balewadi</a></li>
						<li><a href="#">Properties in Pimpri-Chinchwad</a></li>
					
					</ul>
				</div>

				
				<div class="col-md-6 col-xs-12">
					<center>
						<img class="footer-logo" src="images/Holding-bricks.png" alt="">
					
					<p><ul class="social-icons rounded margin-top-20 text-center">
						
						<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
						<li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
						
						<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
						<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
					
						<li><a class="whatsapp" href="#"><i class="icon-whatsapp"></i></a></li>
						<li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
					
					</ul></p>
				</center>
				</div>
			</div>
		

		</div>
		<div class="cntainer-fluid">
			<div class="row " style="position: relative;" >
				<div class="copyrights" style="position: absolute;"><center>© 2020. All Rights Reserved.</center></div>
				<div class="col-md-8 col-xs-6 copyrightstext" >
					<div class="upcoming-msg" style="">
						
					</div>
				</div>
				<div class="col-md-4 col-xs-6 copyrightstext1" >
					<div class="check-out" style="">
					
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Footer / End -->

	<!-- Back To Top Button -->
	<div id="backtotop"><a href="#"></a></div>

</div>

	<!-- Scripts
	================================================== -->
	<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/chosen.min.js"></script>
	<script type="text/javascript" src="js/magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/sticky-kit.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script type="text/javascript" src="js/masonry.min.js"></script>
	<script type="text/javascript" src="js/mmenu.min.js"></script>
	<script type="text/javascript" src="js/tooltips.min.js"></script>
	<script src="js/jquery.fancybox.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>



</body>
</html>