<!DOCTYPE html>

<head>

<!-- Basic Page Needs
================================================== -->
<title>Blog Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.css">
<link rel="stylesheet" href="../../../assets/css/style.css">
<link rel="stylesheet" href="../../../assets/css/style1.css">
<link href="https://cdn.jsdelivr.net/lightgallery/1.3.9/../../../assets/css/lightgallery.min.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/css/color.css">

<style>
	 .mt-30{
		 margin-top: 10px;
	 }
</style>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header Container
	================================================== -->
	<header id="header-container">

		<!-- Topbar -->
		<div id="top-bar">
			<div class="container">

				<!-- Left Side Content -->
				<div class="left-side">

					<!-- Top bar -->
					<ul class="top-bar-menu">
						<li><i class="fa fa-phone"></i> 1234567890 </li>
						<li><i class="fa fa-envelope"></i> <a href="#">office@example.com</a></li>
					
					</ul>

				</div>
				<!-- Left Side Content / End -->


				<!-- Left Side Content -->
				<div class="right-side">

					<!-- Social Icons -->
					<ul class="social-icons">
						<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
						<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
						<li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
					</ul>

				</div>
				<!-- Left Side Content / End -->

			</div>
		</div>
		<div class="clearfix"></div>
		<!-- Topbar / End -->


		<!-- Header -->
		<div id="header">
			<div class="container">
				
				<!-- Left Side Content -->
				<div class="left-side">
					
					<!-- Logo -->
					<div id="logo">
						<a href="index.html"><img src="../../../assets/images/Holding-bricks.png" alt=""></a>
					</div>


					<!-- Mobile Navigation -->
					<div class="mmenu-trigger">
						<button class="hamburger hamburger--collapse" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>


				
					
				</div>
				<!-- Left Side Content / End -->

				<!-- Right Side Content / End -->
				<div class="right-side">
				
					<div class="header-widget">
						<nav id="navigation" class="style-1">
							<ul id="responsive">
		
								<li><a href="homepage.html">Home</a>
									
								</li>
		
								<li><a class="" href="about-us.html">About Us</a>
									
								</li>

								<li><a href="listing.html">Listing</a></li>
								<li><a href="#">Location</a>
									<ul>
										<li><a href="single-Blog.html">Bangalore</a></li>
										<li><a href="single-Blog.html">Pune</a></li>
										
									</ul>
								</li>
		
							
								<li><a  class="" href="contact.html">Contact Us</a>
									
								</li>
		
							</ul>
						</nav>
					</div>
					
				</div>
				<!-- Right Side Content / End -->

			</div>
		</div>
		<!-- Header / End -->

	</header>

	<div class="clearfix"></div>
	<!-- Header Container / End -->
	<div class="parallax titlebar" data-background="../../../assets/images/listings-parallax.jpg" data-color="#333333" data-color-opacity="0.7" data-img-width="800" data-img-height="505" style="background-image: url(&quot;../../../assets/images/listings-parallax.jpg&quot;); background-attachment: fixed; background-size: 1349px 851.556px; background-position: 50% -496.819px;">
	<div class="parallax-overlay" style="background-color: rgb(51, 51, 51); opacity: 0.7;"></div>

	<div id="titlebar" style="    margin-bottom: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<h2>Blog</h2>
					<span></span>
					
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">Home</a></li>
							<li>Blog</li>
						</ul>
					</nav>

				</div>
			</div>
		</div>
	</div>
   </div>

	
	<div class="container property-details">

		<!-- Blog Posts -->
		<div class="blog-page">
			<div class="row">
				<div class="col-lg-8 mt-30 ">

					<div class="row">

						<div class="col-lg-6">
							<!-- Blog Post -->
							<div class="blog-post">
								
								<!-- Img -->
								<a href="single-Blog.html" class="post-img">
									<img src="../../../assets/images/listing-01.jpg" alt="">
								</a>
								
								<!-- Content -->
								<div class="post-content">
									<h3><a href="single-Blog.html">8 Tips to Help You Finding New Home</a></h3>
				
									<ul class="post-meta">
										<li>Novemer 12, 2016</li>
										<!-- <li><a href="#">5 Comments</a></li> -->
									</ul>
				
									<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p>
				
									<a href="single-Blog.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
								</div>
				
							</div>
							<!-- Blog Post / End -->
						</div>

						<div class="col-lg-6">
							<!-- Blog Post -->
							<div class="blog-post">
								
								<!-- Img -->
								<a href="single-Blog.html" class="post-img">
									<img src="../../../assets/images/Gallery/General/1.jpg" alt="">
								</a>
								
								<!-- Content -->
								<div class="post-content">
									<h3><a href="single-Blog.html">8 Tips to Help You Finding New Home</a></h3>
				
									<ul class="post-meta">
										<li>Novemer 12, 2016</li>
										<!-- <li><a href="#">5 Comments</a></li> -->
									</ul>
				
									<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p>
				
									<a href="single-Blog.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
								</div>
				
							</div>
							<!-- Blog Post / End -->
						</div>

						<div class="col-lg-6">
							<!-- Blog Post -->
							<div class="blog-post">
								
								<!-- Img -->
								<a href="single-Blog.html" class="post-img">
									<img src="../../../assets/images/listing-03.jpg" alt="">
								</a>
								
								<!-- Content -->
								<div class="post-content">
									<h3><a href="single-Blog.html">8 Tips to Help You Finding New Home</a></h3>
				
									<ul class="post-meta">
										<li>Novemer 12, 2016</li>
										<!-- <li><a href="#">5 Comments</a></li> -->
									</ul>
				
									<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p>
				
									<a href="single-Blog.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
								</div>
				
							</div>
							<!-- Blog Post / End -->
						</div>

						<div class="col-lg-6">
							<!-- Blog Post -->
							<div class="blog-post">
								
								<!-- Img -->
								<a href="single-Blog.html" class="post-img">
									<img src="../../../assets/images/Gallery/General/2.jpg" alt="">
								</a>
								
								<!-- Content -->
								<div class="post-content">
									<h3><a href="single-Blog.html">8 Tips to Help You Finding New Home</a></h3>
				
									<ul class="post-meta">
										<li>Novemer 12, 2016</li>
										<!-- <li><a href="#">5 Comments</a></li> -->
									</ul>
				
									<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p>
				
									<a href="single-Blog.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
								</div>
				
							</div>
							<!-- Blog Post / End -->
						</div>

						<div class="col-lg-6">
							<!-- Blog Post -->
							<div class="blog-post">
								
								<!-- Img -->
								<a href="single-Blog.html" class="post-img">
									<img src="../../../assets/images/listing-01.jpg" alt="">
								</a>
								
								<!-- Content -->
								<div class="post-content">
									<h3><a href="single-Blog.html">8 Tips to Help You Finding New Home</a></h3>
				
									<ul class="post-meta">
										<li>Novemer 12, 2016</li>
										<!-- <li><a href="#">5 Comments</a></li> -->
									</ul>
				
									<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p>
				
									<a href="single-Blog.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
								</div>
				
							</div>
							<!-- Blog Post / End -->
						</div>

						<div class="col-lg-6">
							<!-- Blog Post -->
							<div class="blog-post">
								
								<!-- Img -->
								<a href="single-Blog.html" class="post-img">
									<img src="../../../assets/images/Gallery/General/5.jpg" alt="">
								</a>
								
								<!-- Content -->
								<div class="post-content">
									<h3><a href="single-Blog.html">8 Tips to Help You Finding New Home</a></h3>
				
									<ul class="post-meta">
										<li>Novemer 12, 2016</li>
										<!-- <li><a href="#">5 Comments</a></li> -->
									</ul>
				
									<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p>
				
									<a href="single-Blog.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
								</div>
				
							</div>
							<!-- Blog Post / End -->
						</div>

				
							<!-- Pagination -->
							<div class="clearfix"></div>
							<div class="pagination-container">
								<nav class="pagination">
									<ul>
										<li><a href="#" class="current-page">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
									</ul>
								</nav>
				
								<nav class="pagination-next-prev">
									<ul>
										<li><a href="#" class="prev">Previous</a></li>
										<li><a href="#" class="next">Next</a></li>
									</ul>
								</nav>
							</div>

							<div class="clearfix"></div>
				
					</div>
				
					<!-- Blog Posts / End -->
			
				</div>
				<!-- Sidebar / End -->

				<div class="col-md-4 mt-30">
					<div class="sidebar right">
			
						
						<!-- Widget -->
						<div class="widget">
			
							<h3>Popular Posts</h3>
							<ul class="widget-tabs">
			
								<!-- Post #1 -->
								<li>
									<div class="widget-content">
											<div class="widget-thumb">
											<a href="single-Blog.html"><img src="../../../assets/images/popular-location-02.jpg" alt=""></a>
										</div>
										
										<div class="widget-text">
											<h5><a href="single-Blog.html">What to Do a Year Before Buying Apartment </a></h5>
											<span>October 26, 2016</span>
										</div>
										<div class="clearfix"></div>
									</div>
								</li>
								
								<!-- Post #2 -->
								<li>
									<div class="widget-content">
										<div class="widget-thumb">
											<a href="single-Blog.html"><img src="../../../assets/images/listing-06.jpg" alt=""></a>
										</div>
										
										<div class="widget-text">
											<h5><a href="single-Blog.html">Bedroom Colors You'll Never Regret</a></h5>
											<span>November 9, 2016</span>
										</div>
										<div class="clearfix"></div>
									</div>
								</li>
								
								<!-- Post #3 -->
								<li>
									<div class="widget-content">
										<div class="widget-thumb">
											<a href="single-Blog.html"><img src="../../../assets/images/listings-parallax.jpg" alt=""></a>
										</div>
										
										<div class="widget-text">
											<h5><a href="single-Blog.html">8 Tips to Help You Finding New Home</a></h5>
											<span>November 12, 2016</span>
										</div>
										<div class="clearfix"></div>
									</div>
								</li>
			
							</ul>
			
						</div>
						<!-- Widget / End-->
			
					<!-- Widget -->
					<!-- <div class="widget">
						<h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
						<div class="search-blog-input">
							<div class="input"><input class="search-field" type="text" placeholder="Type and hit enter" value=""/></div>
						</div>
						<div class="clearfix"></div>
					</div> -->
					<!-- Widget / End -->
					<!-- Widget -->
			<div class="widget margin-top-20 margin-bottom-30">
				<h3 class="">Best Deals In Your City :</h3>
				<div class="underline-widget margin-bottom-35"></div>

				<div class="outer" id="scroll-bestdeals">
					<!-- Item -->
					<div class="item">
						<div class="listing-item compact">

							<a href="#" class="listing-img-container">

								<div class="listing-badges">
									<span class="featured">Best Deals</span>
									<span>For Sale</span>
								</div>

								<div class="listing-img-content">
									<span class="listing-compact-title">Eagle Apartments <i>Sarjapur road</i></span>

									<!-- <ul class="listing-hidden-content">
										<li>Area <span></span></li>
										
										<li>Price <span>1 Cr</span></li>
									</ul> -->
								</div>

								<img src="../../../assets/images/listing-01.jpg" alt="">
							</a>

						</div>
					</div>
					<!-- Item / End -->

					<!-- Item -->
					<div class="item">
						<div class="listing-item compact">

							<a href="#" class="listing-img-container">

								<div class="listing-badges">
									<span class="featured">Best Deals</span>
									<span>For Sale</span>
								</div>

								<div class="listing-img-content">
									<span class="listing-compact-title">Eagle Apartments <i>Sarjapur road</i></span>

									<!-- <ul class="listing-hidden-content">
										<li>Area <span></span></li>
										
										<li>Price <span>1 Cr</span></li>
									</ul> -->
								</div>

								<img src="../../../assets/images/listing-01.jpg" alt="">
							</a>

						</div>
					</div>
					<!-- Item / End -->

				<!-- Item -->
				<div class="item">
					<div class="listing-item compact">

						<a href="#" class="listing-img-container">

							<div class="listing-badges">
								<span class="featured">Best Deals</span>
								<span>For Sale</span>
							</div>

							<div class="listing-img-content">
								<span class="listing-compact-title">Eagle Apartments <i>Sarjapur road</i></span>

								<!-- <ul class="listing-hidden-content">
									<li>Area <span></span></li>
									
									<li>Price <span>1 Cr</span></li>
								</ul> -->
							</div>

							<img src="../../../assets/images/listing-01.jpg" alt="">
						</a>

					</div>
				</div>
				<!-- Item / End -->

					
				</div>
				<center>
					<button class="btn btn-view"><a style="color: white;">See More</a></button>
				</center>

			</div>
			<!-- Widget / End -->

					<!-- Widget -->
					<div class="widget">
						<h3>Got any questions?</h3>
						<div class="info-box margin-bottom-10">
							<p>If you are having any questions, please feel free to ask.</p>
							<a href="contact.html" class="button fullwidth margin-top-20"><i class="fa fa-envelope-o"></i> Drop Us a Line</a>
						</div>
					</div>
					<!-- Widget / End -->


						
			
						<div class="clearfix"></div>
						<div class="margin-bottom-40"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- Flip banner -->
	<a href="single-Blog.html" class="flip-banner parallax-home" data-background="../../../assets/images/single-property-03.jpg"  data-img-width="2500" data-img-height="1600">
		<div class="flip-banner-content" style="color:rgb(219 18 57)">
			<h2 class="flip-visible">We help people and homes find each other</h2>
			<h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
		</div>
	</a>
	<!-- Flip banner / End -->

	<div class="modal Home-pupup fade in" tabindex="-1" role="dialog" id="main-pop" style="opacity: 1;">
		<!-- data-backdrop="static" data-keyboard="false" -->
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		
			<div class="modal-body text-center needhelp_form-modal" style="margin: auto;">
			<li class="left_col"><img class="text-center modal-logo" src="../../../assets/images/Holding-bricks.png"></li>	
			<li class="right_col"><h5>Project Name Brochure</h5></li>
			
				<div class="needhelp_form_list">
						
					<form action="" name="WebForm-1498709213622" method="POST" id="elqform2">
							<div class="throwerror" style="color:red;font-size:15px;padding-bottom:18px;"></div>
							<ul>
								<li class="form-sec">	
									<input type="text" placeholder="Name*" id="" required="" name="Name*"></li>
								
						
								<li class="form-sec">
							
							<input type="tel" placeholder="Phone Number*" id="" required="" name="phone*">
						</li>
							<li class="form-sec">
								<input type="email" placeholder="Email ID*" required="" name="emailAddress" id="fcemail" autocomplete="off" class="emailcheck">
							</li>

							<li style="margin-top:20px!important">
							<center><div class="btn btn-submit" data-toggle="modal" data-target="#main-pop">Download</div></center>
						</li>
						</ul>
					</form>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	</div>

	<!-- Footer sticky-footer
	================================================== -->
	<div id="footer" class=" footer-form">
		<!-- Main -->
		<div class="bg-overlay">
		<div class="container">
			<div class="row mb-40">
				
						<div class="col-md-5 col-xs-12 ">
							<div class="row">
								<div class="col-md-6 col-xs-6 ">
									<h4>Quick Links</h4>
									<ul class="footer-links">
										<li><a href="#">Home</a></li>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Careers</a></li>
										<li><a href="#">Blogs</a></li>
										<li><a href="#">Contact</a></li>
									
									</ul>
								</div>
								<div class="col-md-6 col-xs-6 ">
									<h4>Popular</h4>
									<ul class="footer-links">
										<li><a href="#">New Launches</a></li>
										<li><a href="#">Affordable </a></li>
										<li><a href="#">Ready To Move In</a></li>
										<li><a href="#">Luxury</a></li>
										<li><a href="#">Commercial </a></li>
										
									</ul>
								</div>
							</div>
							
							<div class="clearfix"></div>
						</div>		
			
			
						<div class="col-md-4 col-sm-12 col-xs-12">
							<h4>Address</h4>
							<div class="text-widget">
								<i class="fa fa-map-marker" aria-hidden="true"></i>: <span>Lorem Ipsum Lorem Ipsum</span> <br>
								<i class="fa fa-phone" aria-hidden="true"></i>: <span>(+91) 123-4576-789 </span><br>
								<i class="fa fa-mail-reply-all" aria-hidden="true"></i>: <span> <a href="#">office@example.com</a> </span><br>
							</div>
			
							
			
						</div>

							<div class="col-md-3  col-sm-12 col-xs-12 ">
								<h4>Connect With Us</h4>
								<div class="text-widget">
									<form action="" name="" method="POST" id="elqform2">
										
										<ul>
											<li class="form-control">	
												<input type="text" placeholder="Name*" id="" required="" name="Name*"></li>

											<li class="form-control">
										
										<input type="tel" placeholder="Phone Number*" id="" required="" name="phone*">
									</li>

										<li class="form-control">
											<input type="email" placeholder="Email ID*" required="" name="emailAddress" id="fcemail" autocomplete="off" class="emailcheck">
										</li>

										<li style="margin-top:13px !Important;">
											<center><div class="btn btn-submit" data-toggle="modal" data-target="#main-pop">Request Callback</div></center>
										</li>
									</ul>
								</form>

								</div>

								

							</div>

						<div class="clearflix"></div>
		

			</div>

			<div class="row mb-40">
				<div class="col-md-3 col-xs-12 ">
					<h5>Top Builders In Bangalore</h5>
					<ul class="footer-links">
						<li><a href="#">Prestige Group</a></li>
						<li><a href="#">Brigade Group</a></li>
						<li><a href="#">Godrej Properties</a></li>
						<li><a href="#">Sobha Limited</a></li>
						<li><a href="#">Purvankara</a></li>
						<li><a href="#">Mahindra Life Spaces</a></li>
					
					</ul>
				</div>

				<div class="col-md-3 col-xs-12 ">
					<h5>Top Builders In Pune</h5>
					<ul class="footer-links">
						<li><a href="#">Kolte Patil Developers</a></li>
						<li><a href="#">Vilas Javdekar</a></li>
						<li><a href="#">Kohinoor Group Construction</a></li>
						<li><a href="#">Shapoorji Pallonji</a></li>
						<li><a href="#">Kalpataru Group</a></li>
						<li><a href="#">Lodha Group</a></li>
					
					</ul>
				</div>

				<div class="col-md-3 col-xs-12 ">
					<h5>Featured Properties (Bangalore)</h5>
					<ul class="footer-links">
						<li><a href="#">2 BHK Apartments </a></li>
						<li><a href="#">3 BHK Apartments </a></li>
						<li><a href="#">4 BHK Apartments </a></li>
						<li><a href="#"> Villas Properties </a></li>
						<li><a href="#">Commercial & Office Spaces </a></li>
						<li><a href="#">Plotted Development</a></li>
					
					</ul>
				</div>

				<div class="col-md-3 col-xs-12">
					<h5>Featured Properties (Pune)</h5>
					<ul class="footer-links">
						<li><a href="#">2 BHK Apartments </a></li>
						<li><a href="#">3 BHK Apartments </a></li>
						<li><a href="#">4 BHK Apartments </a></li>
						<li><a href="#"> Villas Properties </a></li>
						<li><a href="#">Commercial & Office Spaces </a></li>
						<li><a href="#">Plotted Development</a></li>
					
					</ul>
				</div>
			</div>
			
			<div class="row mb-40">
				<div class="col-md-3 col-xs-12 ">
					<h5>Locality ( Bangalore )</h5>
					<ul class="footer-links">
						<li><a href="#">Properties in Whitefield</a></li>
						<li><a href="#">Properties in Kanakapura Road</a></li>
						<li><a href="#">Properties in Sarjapura Road</a></li>
						<li><a href="#">Properties in Hennur Road</a></li>
						<li><a href="#">Properties in K.R Puram</a></li>
						<li><a href="#">Properties in Yashwantpur</a></li>
						<li><a href="#">Properties in Yelahanka</a></li>
					
					</ul>
				</div>

				<div class="col-md-3 col-xs-12 ">
					<h5>Locality ( Pune )</h5>
					<ul class="footer-links">
						<li><a href="#">Properties in Hinjewadi </a></li>
						<li><a href="#">Properties in Wakad</a></li>
						<li><a href="#">Properties in Baner</a></li>
						<li><a href="#">Properties in Kharadi</a></li>
						<li><a href="#">Properties in Wagholi</a></li>
						<li><a href="#">Properties in Balewadi</a></li>
						<li><a href="#">Properties in Pimpri-Chinchwad</a></li>
					
					</ul>
				</div>

				
				<div class="col-md-6 col-xs-12">
					<center>
						<img class="footer-logo" src="../../../assets/images/Holding-bricks.png" alt="">
					
					<p><ul class="social-icons rounded margin-top-20 text-center">
						
						<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
						<li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
						
						<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
						<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
					
						<li><a class="whatsapp" href="#"><i class="icon-whatsapp"></i></a></li>
						<li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
					
					</ul></p>
				</center>
				</div>
			</div>
		

		</div>
		<div class="cntainer-fluid">
			<div class="row " style="position: relative;" >
				<div class="copyrights" style="position: absolute;"><center>© 2020. All Rights Reserved.</center></div>
				<div class="col-md-8 col-xs-6 copyrightstext" >
					<div class="upcoming-msg" style="">
						
					</div>
				</div>
				<div class="col-md-4 col-xs-6 copyrightstext1" >
					<div class="check-out" style="">
					
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- Footer / End -->

	<!-- Back To Top Button -->
	<div id="backtotop"><a href="#"></a></div>

</div>
	<!-- Scripts
	================================================== -->
	<script type="text/javascript" src="../../../assets/js/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="../../../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/chosen.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/magnific-popup.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/sticky-kit.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/slick.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/masonry.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/mmenu.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/tooltips.min.js"></script>
	<script src="../../../assets/js/jquery.fancybox.js"></script>
	<script type="text/javascript" src="../../../assets/js/custom.js"></script>



</body>
</html>